* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 5rem;
    background-image:url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png);
    /* background: rgb(15, 15, 15); */
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

main {
    align-items: center;
}

.cube {
    height: 10rem;
    width: 10rem;
    cursor: pointer;
}

.blocked {
    cursor: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    
}

#green {
    background: green;
    border-top-left-radius: 100%;
}

#red {
    background: red;
    border-top-right-radius: 100%;
}

#yellow {
    background: yellow;
    border-bottom-left-radius: 100%;
}

#blue {
    background: blue;
    border-bottom-right-radius: 100%;
}

.invisible {
    display: none;
}

.opacity {
    opacity: .2;
}

footer p{
    color: black;
    text-align: center;
    margin-top: 2rem;
}