* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(22, 22, 22);
}

.cube {
    height: 10rem;
    width: 10rem;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#green {
    background: green;
}

#red {
    background: red;
}

#yellow {
    background: yellow;
}

#blue {
    background: blue;
}

.opacity {
    opacity: .2;
}